.App {
  text-align: center;
}

li {
  list-style-type: none;
}

.project {
  background-color: black;
  color: white;
  width: 15%;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}

ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hide {
  display: none;
}
