/* App */

html, body {
  height: 100vh;
  overflow: auto;
  background-color: #212121;
}

.App {
  color: #ffffff;
  font-size: 1em;
}

.section-title {
  border-bottom: 3px solid #80CBC4;
}

img {
  max-width: 100%;
}

/* Header */

.header {
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.6em;
}

.inner-header {
  width: 85%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Navigation */

.nav-link {
  text-decoration: none;
  color: #ffffff;
}

.nav-container a:hover {
  border-bottom: 3px solid #80CBC4;
}

.nav-container a {
  border-bottom: 3px solid transparent;
}

.nav-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #000000;
  padding:  10px 12px 10px 12px;
  height: 3vh;
}

/* About me */

.profile-pic {
  border-radius: 50%;
  border: 3px solid #80CBC4;
}

#about {
  display: flex;
  align-items: center;
  flex-flow: column;
}

.bio-text {
 padding: 8px;
 background-color: #000000;
 border-radius: 8px;
 width: 85%;
}

/* Projects */

li {
  list-style-type: none;
}

.project {
  background-color: black;
  color: white;
  width: 85%;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  margin-bottom: 14px;
  padding: 8px;
}

ul {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  justify-content: center;
}

#projects {
  display: flex;
  align-items: center;
  flex-flow: column;
}

.hide {
  display: none;
}

.project-flipped {
  transform: rotateY(180deg);
  transition-duration: 1s;
  text-align: center;
}

.project-flipped-back {
  transform: rotateX(360deg);
  transition-duration: 1s;
  text-align: center;
}

.show {
  transform: rotateY(180deg);
  transition-duration: 1s;
}

.project-image {
  width: 160px;
}

.project-btn {
  background-color: #ffffff;
  border: 3px solid #80CBC4;
  border-radius: 14px;
  font-weight: 600;
  position: absolute;
  bottom: 10px;
  left: 25%;
  width: 50%;
  height: 9%;
}

.project-btn:hover {
  background-color: #80CBC4;
  color: #ffffff;
  transition-duration: 0.2s;
  cursor: pointer;
}

.project-links {
  text-decoration: none;
  padding: 8px 22px 8px 22px;
  background-color: #ffffff;
  border: 3px solid #80CBC4;
  border-radius: 14px;
  color: #000000;
  font-weight: 500;
}

.project-links:hover {
  background-color: #80CBC4;
  color: #ffffff;
  transition-duration: 0.2s;
}

.links-container {
  display: flex;
  justify-content: space-around;
}

.back-btn {
  font-size: 2em;
  margin-bottom: 10px;
}

.back-btn:hover {
  cursor: pointer;
}

.project-tags {
  font-size: 1.7em;
  color: #80CBC4;
}

/* Contact */

#contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

.social-logo {
  width: 25%;
}

.linkedin-link {
  margin-bottom: 10px;
}

.profile-links {
  text-align: center;
}

.email-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.email-text {
  margin-left: 10px;
  font-weight: 600;
}

/* Footer */

.footer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000000;
}
