
@media only screen and (min-width: 700px) {

  ul {
    width: 89%;
    justify-content: space-between;
  }

  .project {
    width: 43%;
    font-size: 0.9em;
    align-items: flex-start
  }

  .project-flipped {
    align-items: center;
  }

  .inner-nav {
    justify-content: flex-start;
  }

  .nav-link {
    margin-right: 25px;
  }

  .header {
    font-size: 0.7em;
  }

  .contact-container{
    justify-content: space-around;
  }
}

@media only screen and (min-width: 1050px) {

  .project {
    width: 28%;
    font-size: 1.1em;
  }

  .project-tags {
    font-size: 1.1em;
  }

  .header {
    font-size: 0.8em;
    height: 10vh;
  }

  .about-container {
    font-size: 1.3em;
  }

  .nav-container {
    height: 60px;
  }

  .nav-link {
    padding: 18px 0px;
  }

  #about, #projects {
    padding-top: 20px;
  }

  .footer-container {
    padding: 10px 0px;
  }

  /* Custom ScrollBar */

  /* width */
  ::-webkit-scrollbar {
    width: 15px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #406562;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #73b6b0;
  }

  /*Track*/

  ::-webkit-scrollbar-track {
    background-color: #D8D8D8;
  }

  .project-links {
    font-size: 0.8em;
  }
}

@media only screen and (min-width: 1350px) {

  .inner-header {
    width: 70%;
  }

  .inner-nav {
    width: 70%;
  }

  .about-container {
    width: 68%;
    padding: 1%;
  }

   ul {
     width: 70%;
   }

   .header {
     font-size: 0.9em;
   }

   .project {
     width: 27%;
   }

   .contact-container {
     width: 66%;
   }

   .project-links {
     font-size: 0.7em;
   }

   .app {
     font-size: 1em;
   }
}

@media only screen and (min-width: 1300px) {

   .project-links {
     font-size: 0.9em
   }

}

@media only screen and (max-width: 360px) {

  .header {
    font-size: 0.5em;
  }
}
